{% extends 'Index.html' %}
{% block content %}
<div class="P-3">
<h1 style="font-size:300%; text-align: center; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif" class="text-success">Blog</h1>
</div>
<div class="container mt-4">
  <div class="row">
    {% for i in data %}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="bg-body-tertiry fs-5 bg-text-center  p-2 rounded-4 bg-opacity-25 ">
          <div class="card h-100 bg-success">
            <img src="{{ i.image.url }}" class="card-img-top" alt="{{ i.name }}">
            <div class="card-body text-center">
              <h5 class="card-title text-light"></h5>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}